<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Lagon bleu</title>
</head>
<body>
    <ul>
        <li><a href="/list-of-fish">List of fish</a></li>
        <li><a href="">Fish Monitoring Reports</a></li>
        <li><a href="">Coral Monitoring Reports</a></li>
    </ul>
    {% block body %}{% endblock %}
</body>
</html>
